{% extends "base.html.twig" %}
{% block title %}NET Idea website{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="text-center">
        <h2 class="important">NET-Idea web agency</h2>
        <div class="jumbotron text-center">
            <example></example>
        </div>
    </div>
{% endblock %}
