<template>
  <div>
    <p>This is an example of a new components in VueJs</p>
    <b-alert show dismissible> Hello {{ sample }}</b-alert>
    <b-list-group>
      <b-list-group-item href="https://symfony.com/">Symfony</b-list-group-item>
      <b-list-group-item href="https://api-platform.com/">API-Platform</b-list-group-item>
      <b-list-group-item href="https://symfony.com/doc/current/frontend.html">Webpack Encore</b-list-group-item>
      <b-list-group-item href="https://vuejs.org/">Vue.js</b-list-group-item>
    </b-list-group>
  </div>
</template>
<script>
export default {
  name: "example",
  data() {
    return {
      sample: ""
    }
  },
  mounted: function () {
    this.sample = "NET-Idea"
  }
}
</script>
<style scoped></style>
